body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    width: 100%;
    /*background: #c2c2c2;*/
}

h1 {
    margin: 0;
    margin-bottom: .5rem;
}

.input {
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 0.25rem;
    width: 7em;
}
select{
    margin-left: .5rem;
}
.equals{
    text-align: center;
    width: 86%;
    display: block;
    margin: .5rem 0;
}
